<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Load Leaflet from CDN-->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />
  <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- Load Esri Leaflet from CDN -->
  <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>
  <style>
    body { margin:0; padding:0; }
    #mapDiv { position: absolute; top:100; bottom:100; right:100; left:100; }
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
  </style>


</head>

<body>
	<div class="container">
		<div class="page-header">
			<h1>Pothole Map</h1>
		</div>
	</div>

	<div>
		<div id="mapDiv"></div>

		<script>
		  var map = L.map('mapDiv').setView([37.71, -122.26], 12);
		
		  L.esri.basemapLayer('Topographic').addTo(map);

    		var pothole_coords = {{coords|safe}};
			function getValue(x) {
				return Math.abs(x) > 2.0 ? "#FF0E00" :
				       Math.abs(x) > 1.5 ? "#FF0E00" :
				       Math.abs(x) > 1.0 ? "#00B246" :
				       Math.abs(x) > 0.5 ? "#00B246" :
					       "#00B246";
			}
			
			function style(feature) {
				return {
					"fillColor": getValue(feature.properties.accel_z),
					"stroke": false,
					"radius":5,
					"opacity": function(feature){
					if (Math.abs(feature.properties.accel_z) > 2)
						{
						return 1;
						}
						else
						return 0.005;
						}
						};
			}

			// function onEachFeature(feature, layer) {
		 //    layer.on("click", function () {
   //      			var div = $('<div style="width: 200px; height: 200px;"><svg/></div>')[0];
   //      			layer.bindPopup(div);
   //      			layer.openPopup();
			
   //      		var parseDate = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ").parse;

   //      		var data = pothole_coords
   //      		data.forEach(function(d) {
			// 			  d.properties.timestamp = parseDate(d.properties.timestamp);
			// 			  d.properties.accel.x = +d.properties.accel.x;

				
			// 	var margin = {top: 20, right: 20, bottom: 20, left: 30},
			// 	    width = 200 - margin.left - margin.right,
			// 	    height = 200 - margin.top - margin.bottom;				

			// 	var x = d3.scale.linear()
			// 	    .range([0, width]);
				
			// 	var y = d3.scale.linear()
			// 	    .range([height, 0]);
				
			// 	var xAxis = d3.svg.axis()
			// 	    .scale(x)
			// 	    .orient("bottom");
				
			// 	var yAxis = d3.svg.axis()
			// 	    .scale(y)
			// 	    .orient("left");

			// 	var lineData = [ { "x": 1,   "y": 5},  { "x": 20,  "y": 20},
   //                { "x": 40,  "y": 10}, { "x": 60,  "y": 40},
   //                { "x": 80,  "y": 5},  { "x": 100, "y": 60}];

   //              x.domain(d3.extent(lineData, function(d) { return d.x; }));
  	// 			y.domain(d3.extent(lineData, function(d) { return d.y; }));

			// 	var line = d3.svg.line()
			// 	    .x(function(d) { return x(d.x); })
			// 	    .y(function(d) { return y(d.y); })
			// 	    .interpolate('linear');

   //      			var svg = d3.select("div svg")
   //      			    .attr("width", 200)
   //      			    .attr("height", 200)
   //      			  .append("g")
			// 		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")      			    ;			

			// 		svg.append("g")
			// 		      .attr("class", "x axis")
			// 		      .attr("transform", "translate(0," + height + ")")
			// 		      .call(xAxis);
					
			// 		  svg.append("g")
			// 		      .attr("class", "y axis")
			// 		      .call(yAxis)
			// 		    .append("text")
			// 		      .attr("transform", "rotate(-90)")
			// 		      .attr("y", 6)
			// 		      .attr("dy", ".71em")
			// 		      .style("text-anchor", "end")
			// 		      .text("Speed");
					
			// 		  svg.append("path")
			// 		      .datum(lineData)
			// 		      .attr("class", "line")
			// 		      .attr("stroke", "blue")
			// 		      .attr("d", line);
			// 		});


   //  		});
		 //  }
		   L.geoJson(pothole_coords, {
			// onEachFeature: onEachFeature,
				pointToLayer: function (feature, pothole_coords) {
					return L.circleMarker(pothole_coords, style(feature));
				}
			}).addTo(map);
		</script>
	</div>
</body>

</html>